@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scroll {
  overflow: hidden;
}

/* Reusable Utility Classes */
.form-label {
  @apply text-lg lg:text-xl font-bold text-light mb-2;
}

.form-input {
  @apply p-3 rounded-sm border border-light/50 text-light bg-dark focus:outline-none focus:border-primary transition-colors duration-300;
}

.form-textarea {
  @apply p-3 rounded-sm bg-dark border text-light border-light/50 focus:outline-none focus:border-primary transition-colors duration-300 h-32 resize-none;
}

.form-button {
  @apply  text-lg lg:text-xl font-bold w-full bg-tertiary  hover:scale-95 transition duration-700 text-dark py-3 rounded-sm ;
}
