@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scroll {
  overflow: hidden;
}

/* Reusable Utility Classes */
.form-label {
  @apply text-lg lg:text-xl font-bold text-dark/80 mb-2;
}

.form-input {
  @apply p-3 rounded-sm border border-dark/50 text-dark focus:text-light  focus:outline-none focus:border-tertiary focus:bg-dark transition-colors duration-300;
}

.form-textarea {
  @apply p-3 rounded-sm   border text-dark focus:text-light border-dark/50 focus:outline-none focus:border-primary focus:bg-dark transition-colors duration-300 h-32 resize-none;
}

.form-button {
  @apply  text-lg lg:text-xl font-bold w-full bg-dark  hover:scale-95 transition duration-700 text-light py-3 rounded-sm ;
}


/* ARTICLE */
ol.list-decimal {
  counter-reset: list; /* Reset the list counter */
}

ol.list-decimal li {
  counter-increment: list; /* Increment the list counter */
  /* font-weight: bold; Style the text inside the <li> */
  color: #primary-color; /* Style the text color inside the <li> */
}

ol.list-decimal li::marker {
  font-weight: bold; 
  color: #primary-color; /* Style the number color */
  font-size: 1.5rem; /* Adjust the size of the number */
}


.react-player-wrapper {
	position: relative;
	padding-top: 56.25%; /* for 16:9 aspect ratio */
	height: 0;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}